<div class="product-selector">
  <div
    class="header"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <h2>Select Product/Search Product</h2>
    <button class="close-btn" (click)="closeTable()">✕</button>
  </div>

  <app-product-search (emitter)="onSearch($event)"></app-product-search>

  <table>
    <thead>
      <tr>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>ProductUnit</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (product of pagedProducts; track $index) {
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.unit }}</td>
        <td>{{ product.selling_price }}</td>
        <td>
          <button class="choose-btn" (click)="chooseProduct(product)">
            Choose
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="pagination-container">
    <button
      (click)="prevPage()"
      [disabled]="pageNumber === 1"
      class="pagination-btn"
    >
      &laquo; Prev
    </button>
    <span class="pagination-info">
      Page {{ pageNumber }} / {{ totalPage }}
    </span>
    <button
      (click)="nextPage()"
      [disabled]="pageNumber === totalPage"
      class="pagination-btn"
    >
      Next &raquo;
    </button>
  </div>
</div>
